# use glob syntax.
syntax: glob

*.ser
*.class
*~
*.bak
*.old


# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# idea
.idea
*.iml
*.ipr
*.iws

# building
target
build
null
tmp*
temp*
test-output
build.log

# other scm
.svn
.CVS
.hg*


# other
tmp
*.swp
! .gitkeep
*.log
.directory
*.result
*.counts
*.fg
*.description


# sbt specific
.cache/
.history/
.lib/
dist/*
target/
*/lib_managed/
*/src_managed/
*/project/boot/
*/project/plugins/project/
*/project/project/
*/project/target/

# ignore scala worksheet files
*.sc

# node specific
*/node_modules/
