<div class="form-group" id="analystLogin.html">
	<div class="modal-header">
        <h3 class="modal-title">
			<span class="glyphicon glyphicon-list-alt"></span>
			Login Details
		</h3>
		
    </div>	
	<div class="modal-body">
		<br>
        <label>Username:</label><input type="text" ng-model="analyst">
        <label>Password:</label><input type="password">
		
		<!--to be implemented-->
<!--		<div histogram-directive chart-data="data"></div>	-->
	</div>		
	<div class="modal-footer">
        <button class="btn btn-primary" ng-click="logIn()" style="background-color:#3598DB; border-color:#3598DB;" >Log In</button>
    </div>
</div>