<div class="form-group" id="driverComplianceModal.html">
	<div class="modal-header">
        <h3 class="modal-title">
			<span class="glyphicon glyphicon-list-alt"></span>
			Road User Compliance
		</h3>
		
    </div>	
	<div class="modal-body" style="height:500px">
		<h4>Speed and Distance between Vehicles</h4>
		<div style="height:60%"  driver-compliance distance-data="data"> </div>
		<span style="position:absolute; left:15px;" id="sspeedGaugeContainer"></span>
		<span style="position:absolute; right:15px;" id="nspeedGaugeContainer"></span>
	</div>		
	<div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()" style="background-color:#F1C40F; border-color:#F1C40F;">Cancel</button>
        <button class="btn btn-primary" ng-click="ok()" style="background-color:#3598DB; border-color:#3598DB;" >OK</button>
    </div>
</div>


