<div class="form-group" id="listModal.html">
	<div class="modal-header">
        <h3 class="modal-title">
			<span class="glyphicon glyphicon-list-alt"></span>
			Transaction Details
		</h3>
		
    </div>	
	<div class="modal-body">
		<h3>{{selection.name}}</h3>
		<br>
		<h4>Occurrence Time: {{selection.time}}</h4>
		<h4>Certainty: {{selection.certainty}}</h4>
		<h4>Country: {{selection.country}}</h4>
		<h4>Reason: {{selection.reason}}</h4>
		<h4>Terminal ID: {{selection.terminal_id}}</h4>
		<h4>Card Pan: {{selection.card_pan}}</h4>
		<h4>Confirmed Fraud: {{selection.confirmed}}</h4>
		<!--to be implemented-->
<!--		<div histogram-directive chart-data="data"></div>	-->
	</div>		
	<div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()" style="background-color:#F1C40F; border-color:#F1C40F;">Cancel</button>
        <button class="btn btn-primary" ng-click="fraud()" style="background-color:#3598DB; border-color:#3598DB;" >Mark as Fraud</button>
    </div>
</div>